<mat-toolbar>
  <button class="hamburger" (click)="toggleSideNav()"><i class="fa fa-bars"></i></button>
  <span class="fill-space"></span>
  <button routerLink="home"><i class="fa fa-home"></i></button>

</mat-toolbar>
