<div class="card-container" *ngFor="let card of cardsData; let i = index">
  <mat-card>
    <mat-card-title routerLink="/details/{{i}}">
      {{card.title}}
    </mat-card-title>
  </mat-card>
</div>


