.card-container {
  width: 40%;
  height: 20%;
  display: inline-block;
  margin: 10px auto;
}
.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-card-title, .homeLink {
  cursor: pointer;
}
