<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <div class="homeLink mat-card" routerLink="home">Feeds/Home</div>
      <div class="side-nav-card-container" *ngFor="let card of cardsDataForNavBar; let i = index">
        <mat-card>
          <mat-card-title routerLink="/details/{{i}}" >
            {{card.title}}
          </mat-card-title>
        </mat-card>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

