<mat-card>
  <mat-card-title>{{cardData.title}}</mat-card-title>
    <mat-card-content *ngIf="cardData.article;else imageContent">
      {{cardData.article}}
    </mat-card-content>

    <ng-template #imageContent><img mat-card-image [src]="cardData.image"/></ng-template>
</mat-card>
